@if (data$ | async; as data) {
<div class="article-page">
  @if (data.article) {
  <div class="banner">
    <div class="container">
      <h1>{{ data.article.title }}</h1>
      <app-author-banner [article]="data.article" [isAuthor]="data.isAuthor" (deleteArticle)="deleteArticle($event)" />
    </div>
  </div>
  }

  <div class="container page">
    @if (data.isLoading) {
    <app-loading />
    } @if (data.error) {
    <app-error-message />
    } @if (data.article) {
    <div class="row article-content">
      <div class="col-xs-12">
        <div>
          <p>{{ data.article.body }}</p>
        </div>
        <app-tag-list [tags]="data.article.tagList" />
      </div>
    </div>

    <hr />

    <div class="article-actions">
      <app-author-banner [article]="data.article" [isAuthor]="data.isAuthor" (deleteArticle)="deleteArticle($event)" />
    </div>

    <app-comments [article]="data.article" />
    }
  </div>
</div>
}
